.clearBtn {
  border-left: 2px solid black;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 0;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
